<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @want.user.full_name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @want.item.description %>
</p>

<p>
  <strong>Extra mile?:</strong>
  <%= @want.extra_mile.to_s %>
</p>

<%= link_to 'Edit', edit_want_path(@want) %> |
<%= link_to 'Back', wants_path %>
