<% content_for :login do %>

  <% if session[:omniauth].nil? %>

    <%= render "shared/page_title", page_title: t('devise.registrations.sign_up') %>
    <%= render 'devise/registrations/form' %>
    <a href="/users/auth/facebook"><%= t('sign_in.facebook_link') %></a><div class="clearfix"></div>

    <%= render "devise/shared/links" %>

  <% else %>

    <%= render "shared/page_title", page_title: t('devise.registrations.complete') %>
    <%= render 'devise/registrations/form' %>

  <% end %>

<% end %>