<li class="col-lg-3 col-md-4 col-sm-6 col-xs-12" data-item-type = "modal" data-item-id = "<%= @user.id %>">
  <div class="thumbnail">
      <div class="thumbnail-image-div">
        <p class="thumbnail_image_size"><%= locals[:item].width  %>X<%= locals[:item].height %></p>
        <img src= <%= locals[:item].image.url(:thumb) %> alt="">
      </div>
      <div class="caption">
        <p><%= locals[:item].description %></p>
        <p><%= locals[:item].type.description %> במצב   <%= locals[:item].state.description %> נקנה לפני  <%= locals[:item].age.description %> ב<%= locals[:item].price.description %></p>
        <p>
          <% if locals[:item].user == current_user %>
            <%= locals[:item].user.first_name %> (<%= locals[:item].user.region.description %>)
          <% else %>
            <%= link_to "%s (%s)" % [locals[:item].user.first_name, locals[:item].user.region.description], modal_users_path(id: locals[:item].user_id), format: :json, remote: true, :class => "btn btn-default btn-sm" %>
        <% end %>

          <% if locals[:type] == :want_mine %>
            <span class="want_mine">שרוצה תמונה שלי</span>
          <% end %>
        </p>
        <p>
          <% if locals[:item].user == current_user %>
            <%= link_to t('Edit'), edit_item_path(locals[:item]), :class => "btn btn-info" %>
            <%= link_to t('Destroy'), locals[:item], method: :delete, data: { confirm: t('areYouSure') }, :class => "btn btn-info" %>
          <% else %>
            <% if locals[:type] == :want_mine %>
              <%= link_to t('trade'), '/', format: :json, remote: true, method: :post, :class => "btn btn-info want_btn" %>
            <% else %>
              <% if locals[:item].want_users.include?(current_user) %>
                <%= link_to t('dont_want'), toggle_wants_path(want: {item_id: locals[:item].id}), format: :json, remote: true, method: :post, :class => "btn btn-success want_btn" %>
              <% else %>
                <%= link_to t('want'), toggle_wants_path(want: {item_id: locals[:item].id}), format: :json, remote: true, method: :post, :class => "btn btn-warning want_btn" %>
              <% end %>
            <% end %>
            <%= link_to t('block'), apply_blocks_path(block: {item_id: locals[:item].id}), format: :json, remote: true, method: :post, :class => "btn btn-danger pull-left" %>
          <% end %>
        </p>
      </div>
    </div>
</li>
