<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @block.user.full_name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @block.item.description %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
