<% content_for :welcome do %>
  <p><%= t('welcome.question1') %><br><%= t('welcome.question2') %></p>
  <h2><%= t('welcome.answer') %></h2>
  <hr style="background: white; width: 85%; height: 3px;">
<% end %>

<%= render template: 'devise/sessions/new' %>

<% content_for :gallery do %>

  <% if user_signed_in? %>

  <%= render "shared/page_title", page_title: t('index_gallery') %>

  <%
    users_that_like_my_items = User.find_by_sql ["SELECT DISTINCT users.*
    FROM users
    LEFT JOIN wants on users.id = wants.user_id
    LEFT JOIN items on wants.item_id = items.id
    WHERE users.is_active = 1 AND users.is_blocked = 0
    AND items.user_id = '?'", current_user.id]

    @items_want_mine = Item.where.not(:user => current_user)
    .where(:is_blocked => false)
    .where(:is_active => true)
    .where.not(id: current_user.block_items.pluck(:id))
    .where(user_id: users_that_like_my_items)

    @items_dont_want_mine= Item.where.not(:user => current_user)
    .where(:is_blocked => false)
    .where(:is_active => true)
    .where.not(id: current_user.block_items.pluck(:id))
    .where.not(user_id: users_that_like_my_items)
  %>

  <div class="gallery">
    <br/>
    <ul class="row">
      <% @items_want_mine.each do |item| %>
        <%= render 'items/item_block', locals: {item: item, type: :want_mine}%>
      <% end %>
      <% @items_dont_want_mine.each do |item| %>
        <%= render 'items/item_block', locals: {item: item, type: :dont_want_mine}%>
      <% end %>
    </ul>
  </div>
  <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="UserModalLabel"></h4>
        </div>
        <div class="modal-body">
          <div class="gallery">
            <ul class="row" id="modal-injection">
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>

<% end %>