<% content_for :welcome do %>
  <p><%= t('welcome.question1') %><br><%= t('welcome.question2') %></p>
  <h2><%= t('welcome.answer') %></h2>
  <hr style="background: white; width: 85%; height: 3px;">
<% end %>

<%= render template: 'devise/sessions/new' %>

<%= render "shared/page_title", page_title: t('index_gallery') %>
<div class="gallery">
  <br/>
  <ul class="row">
    <% @items.each do |item| %>
      <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= render 'item_block', locals: {item: item}%>
      </li>
    <% end %>
  </ul>
</div>

