<% content_for :welcome do %>
  <p><%= t('welcome.question1') %><br><%= t('welcome.question2') %></p>
  <h2><%= t('welcome.answer') %></h2>
  <hr style="background: white; width: 85%; height: 3px;">
<% end %>

<%= render template: 'devise/sessions/new' %>

<%= render "shared/page_title", page_title: t('index_gallery') %>

<% @items = Item.where.not(:user => current_user)
  .where(:is_blocked => false)
  .where(:is_active => true)
  .where.not(id: current_user.block_items.pluck(:id))
%>

<div class="gallery">
  <br/>
  <ul class="row">
  <% @items.each do |item| %>
    <%= render 'items/item_block', locals: {item: item}%>
  <% end %>
  </ul>
</div>

