<% content_for :gallery do %>

  <div class="gallery_thumbnail">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#FilterModal">
      סנן תמונות
    </button>
    <div class="clearfix"></div>
    <br/>
    <ul class="row">
      <% @items.each do |item| %>
        <%= render 'items/item_block', locals: {item: item, state: @states[item.id]}%>
      <% end %>
    </ul>
  </div>
  <% if @number_of_pages > 1 %>
    <div class="text-center">
      <ul class="pagination pagination-lg">
        <% @number_of_pages.times do |page_index| %>
          <% if page_index+1 == @page_number %>
            <li class="active"><a href="" class="pagination-button inactiveLink"><%= page_index+1 %></a></li>
          <% else %>
            <% if request.original_url.index('page=').present? %>
              <li><a href="<%= request.original_url[0..request.original_url.index('page=')-1] + 'page=' + (page_index+1).to_s %>" class="pagination-button"><%= page_index+1 %></a></li>
            <% else %>
              <% if request.original_url[-1] == '/' %>
                <li><a href="<%= request.original_url + '?page=' + (page_index+1).to_s %>" class="pagination-button"><%= page_index+1 %></a></li>
              <% else %>
                <li><a href="<%= request.original_url + '&page=' + (page_index+1).to_s %>" class="pagination-button"><%= page_index+1 %></a></li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>


  <!--***** MODAL *****-->
  <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times; &NonBreakingSpace;</span><span class="sr-only">סגור</span></button>
          <h4 class="modal-title" id="UserModalLabel"></h4>
        </div>
        <div class="modal-body">
          <div id="my-area"></div>
          <div class="gallery_thumbnail">
            <ul class="row" id="modal-injection">
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">סגור</button>
        </div>
      </div>
    </div>
  </div>

<!--***** MODAL *****-->
<div class="modal fade" id="UserContactModal" tabindex="-1" role="dialog" aria-labelledby="UserContactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times; &NonBreakingSpace;</span><span class="sr-only">סגור</span></button>
        <h4 class="modal-title" id="UserModalLabel">פרטי התקשרות</h4>
      </div>
      <div class="modal-body">
        <div id="my-area">
          <h2><span class="first_name"></span> <span class="last_name"></span></h2>
          <h3>גר ב<span class="region"></span></h3>
          <hr />
          <h3><a class="user_email"></a></h3>
          <h3 class="user_phone"></h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">סגור</button>
      </div>
    </div>
  </div>
</div>

  <!--***** MODAL *****-->
  <div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="FilterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times; &NonBreakingSpace;</span><span class="sr-only">סגור</span></button>
          <h4 class="modal-title" id="UserModalLabel">אפשרויות סינון</h4>
        </div>
        <div class="modal-body">
          <div class="row filter-subject">
            <h3>סוג:
              <%= render 'gallery/filter_subject', locals: {klass: Type}%>
            </h3>
          </div>
          <div class="row filter-subject">
            <h3>גיל:
              <%= render 'gallery/filter_subject', locals: {klass: Age}%>
            </h3>
          </div>
          <div class="row filter-subject">
            <h3>מצב:
              <%= render 'gallery/filter_subject', locals: {klass: State}%>
            </h3>
          </div>
          <div class="row filter-subject">
            <h3>מחיר במקור:
              <%= render 'gallery/filter_subject', locals: {klass: Price}%>
            </h3>
          </div>
          <div class="row filter-subject">
            <h3>מיקום:
              <%= render 'gallery/filter_subject', locals: {klass: Region}%>
            </h3>
          </div>
          <div class="row filter-subject">
            <h3>ותק באתר :
              <span class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" checked> מאז ומתמיד
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" id="option2"> חודש
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" id="option3"> שבוע
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" id="option4"> יום
                </label>
              </span>
            </h3>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="apply-filter" class="btn btn-lg btn-success" data-dismiss="modal">הפעל סינון</button>
          <button type="button" id="cancel-filter" class="btn btn-lg btn-danger" data-dismiss="modal">בטל סינון</button>
        </div>
      </div>
    </div>
  </div>
<% end %>