<%= simple_form_for(@item, validate: true, :html => { :class => 'form-inline' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if current_user.has_role? :admin %>
      <%= f.association :user, label_method: :full_name, value_method: :id %>
      <%= f.input :is_active %>
      <%= f.input :is_blocked %>
    <% end %>
    <%= f.label :image%>
    <%= f.file_field :image %>
    <br/>
    <%= f.input :description, input_html: { maxlength: 50 } %> <br/>
    <%= f.association :type, input_html: { class: 'short_box' }, label_method: :description, value_method: :id, selected: 11  %>
    <%= f.association :price, input_html: { class: 'short_box' }, label_method: :description, value_method: :id, selected: 11 %><br/>
    <%= f.input :height, input_html: { class: 'short_box', min:30 ,max: 300 } %>
    <%= f.input :width, input_html: { class: 'short_box', min:30 ,max: 300 } %><br/>
    <%= f.association :age, input_html: { class: 'short_box' }, label_method: :description, value_method: :id, selected: 11 %>
    <%= f.association :state, input_html: { class: 'short_box' }, label_method: :description, value_method: :id, selected: 11 %>
  </div>

  <div class="form-actions">
    <br/>
    <%= f.button :submit %>
  </div>
<% end %>
