<li class="col-lg-3 col-md-4 col-sm-6 col-xs-12" data-item-id = "<%= locals[:item].id %>">
  <div class="thumbnail">
    <div class="thumbnail-image-div">
      <div style="direction: ltr"><p class="thumbnail_image_size"><%= locals[:item].width  %>X<%= locals[:item].height %></p></div>
      <% unless locals[:item].user == current_user %>
        <%= link_to "", apply_blocks_path(block: {item_id: locals[:item].id}), format: :json, remote: true, method: :post, :class => "btn btn-danger thumbnail_close fa fa-trash-o" %>
      <% end %>
      <img src= <%= S3_PATH + locals[:item].image_url %> alt="" class="center-block">
    </div>
    <div class="caption">
      <p><%= locals[:item].description.present? ? locals[:item].description : "-" %></p>
      <p class="long-description"><%= locals[:item].type.description %> במצב   <%= locals[:item].state.description %> נקנה לפני  <%= locals[:item].age.description %> ב<%= locals[:item].price.description %></p>
      <br/><br/>
      <p class="user_name">
      <% if locals[:item].user == current_user || (locals[:item].user.items.length == 1 && locals[:state] < 3 )%>
        <%= locals[:item].user.first_name %> (<%= locals[:item].user.region.description %>)
      <% else %>
        <%= link_to "%s (%s)" % [locals[:item].user.first_name, locals[:item].user.region.description], modal_users_path(user_id: locals[:item].user_id), format: :json, remote: true, :class => "user_modal_link" %>
      <% end %>
      <% if locals[:state] == 3 || locals[:state] == 4 %>
        <span class="wants_to_swap">רוצה להתחלף!</span>
      <% end %>
      <p>
      <% if locals[:item].user == current_user %>
        <%= link_to "", edit_item_path(locals[:item]), :class => "btn btn-info fa fa-edit" %>
        <%= link_to "", locals[:item], method: :delete, data: { confirm: t('areYouSure') }, :class => "btn btn-danger pull-left fa fa-trash-o" %>
      <% else %>
        <% if locals[:state] == 2 || locals[:state] == 4  %>
          <%= link_to "", toggle_wants_path(want: {item_id: locals[:item].id}), format: :json, remote: true, method: :post, :class => "btn btn-large btn-success fa fa-thumbs-up" %>
        <% else %>
          <%= link_to "", toggle_wants_path(want: {item_id: locals[:item].id}), format: :json, remote: true, method: :post, :class => "btn btn-large btn-default fa fa-thumbs-up" %>
        <% end %>
      <% end %>
      <% if locals[:state] == 4 %>
      <span class="user_info">
        <%= link_to "", modal_contact_users_path(user_id: locals[:item].user_id, item_id: locals[:item].id), format: :json, remote: true, :class => "btn btn-large btn-warning pull-left fa fa-info-circle" %>
      </span>
      <% end %>
      </p>
    </div>
  </div>
</li>
