<%= simple_form_for(@swap) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user1, label_method: :full_name, value_method: :id %>
    <%= f.association :user2, label_method: :full_name, value_method: :id %>
    <%= f.input :user1_items %>
    <%= f.input :user2_items %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
