<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @swap.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @swap.user %>
</p>

<p>
  <strong>User1 items:</strong>
  <%= @swap.user1_items %>
</p>

<p>
  <strong>User2 items:</strong>
  <%= @swap.user2_items %>
</p>

<%= link_to 'Edit', edit_swap_path(@swap) %> |
<%= link_to 'Back', swaps_path %>
