<!DOCTYPE html>
<html lang="en">

    <!--<head>-->
    <%= render 'layouts/head' %>
    <!--</head>-->

    <body class="<%= controller_name %> <%= action_name %>">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
      <%= javascript_include_tag "jquery.backstretch.min" %>
      <% if !user_signed_in? %>
        <script> $.backstretch("../assets/background.jpg"); </script>
      <% end %>
      <div id="wrapper">
        <!-- Top navigation menu -->
        <div id="header">
          <%= render 'layouts/navigation_top' %>
        </div>

        <div id="content">
          <div id="main" role="main">
            <div class="container">
              <%= render 'layouts/messages' %>
              <%= render 'layouts/content' %>
            </div>
          </div>
        </div>

        <div id="footer">
          <!--<footer>-->
          <%= render 'layouts/navigation_footer' %>
          <!--</footer>-->
        </div>
      </div>
      </div>
    </body>
</html>
